<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bookings</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="favicon-16x16.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- vue related code: -->
  <script src="https://unpkg.com/vue@3"></script>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@mbaliDuma" />
  <meta name="twitter:creator" content="@nickbilton" />
  <meta property="og:url" content="https://vgdecidio.github.io/index.html" />
  <meta property="og:title" content="Spaces Designed With Passion - Mbali Mgobhozi" />
  <meta property="og:description" content="Your space is your when it motivates you to be who you are and make your impact in the world. With us that is what you will gain, elevating spaces to bring your passion back to life." />
  <meta property="og:image" content="https://media.dev.to/cdn-cgi/image/width=800%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2F5bbxk7fi2eb6emrk1wqr.jpg" />

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">M D</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>          
          <li><a class="nav-link scrollto " href="/index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="/index.html#services">Services</a></li>
          <li><a class="nav-link scrollto" href="/booking.html">Book</a></li>
          <li><a class="nav-link scrollto " href="/index.html#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="/index.html#about">About</a></li>
          <li><a class="nav-link scrollto" href="/index.html#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <script type="importmap">
      { "imports": {
          "vue":        "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.esm-browser.prod.js",
          "vue-router": "https://cdnjs.cloudflare.com/ajax/libs/vue-router/4.1.5/vue-router.esm-browser.min.js"
      } }
    </script>
    <!-- sing function room section -->
    <section id="app" class="booking-page">
      <div class="container">
        <video autoplay muted loop>
          <source src="/assets/img/booking/booking.mp4" type="video/mp4">
        </video>
        <div class="px-4 py-4  my-4 text-center">
          <!-- <img class="d-block mx-auto mb-4" src="/assets/img/house-small.jpg" alt="" width="72" height="57"> -->
          <h1 class="display-5 fw-bold text-body-emphasis">{{bookingHeading}}</h1>
          <div class="col-lg-6 mx-auto">
            
            <p class="lead mb-4">
              {{ bookingIntro }}
            </p>
            <!-- 
              @todo: 
              add discount to make them feel they have paid less
             -->
          </div>
        </div>
        <!-- step one - pick the type of project -->
        <div class="container">
          <div v-if="showStep1"> 
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div v-for="option in bookingOptions" class="col">
                <div class="card shadow-sm">
                  <img class="d-block mx-auto mb-4" :src="option.image" alt="" width="100%" height="300px" />
                  <div class="card-body">
                    <h5>{{option.title}}</h5>
                    <p class="card-text">
                      {{ option.bodyText }}  
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" :class="`btn ${getStyle(option)}`"
                          @click="selectOption(option)"> 
                          Add
                          <small>
                            {{option.count}}
                          </small>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                          v-show="option.count > 0"
                          @click="removeOption(option)">
                          remove
                        </button>
                      </div>
                      <small class="text-body-secondary">
                        {{ option.price }}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="showStep2">
            <div class=" col-10 col-lg-8">
              <h4 class="mb-3">Property address</h4>
              <form class="needs-validation my-4 mx-auto" novalidate="">
                <div class="row g-3">
                  <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" v-model="form.propertyAddress.address1" placeholder="1234 Main St" required="">
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" v-model="form.propertyAddress.address2" placeholder="Apartment or suite">
                  </div>
      
                  <div class="col-md-5">
                    <label for="country" class="form-label">City</label>
                    <select class="form-select" id="country" required="">
                      <option v-for="city in cityOptions" v-model="form.propertyAddress.city">{{ city }}</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>     
                  <div class="col-md-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="zip" v-model="form.propertyAddress.zip" placeholder="" required="">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div v-if="showStep3" class="my-4">
            <div class="col-md-7 col-lg-8">
              <h4 class="mb-3">Personal Information</h4>
              <form class="needs-validation" novalidate="" id="form">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" v-model="form.clientData.firstName" value="" required="">
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
      
                  <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" v-model="form.clientData.lastName" value="" required="">
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" v-model="form.clientData.email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" v-model="form.clientData.address1" placeholder="1234 Main St" required="">
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" v-model="form.clientData.address2" placeholder="Apartment or suite">
                  </div>
      
                  <div class="col-md-5">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-select" id="country" required="" v-model="form.clientData.clientCity">
                      <option value="">Choose...</option>
                      <option v-for="(city, index) in cityOptions">{{city}}</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" @click="submitForm" type="button">Submit Details</button>
              </form>
            </div>
          </div>
          <div v-if="showLastStep">
            <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
              <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
              <h1 class="text-body-emphasis">Success</h1>
              <p class="col-lg-6 mx-auto mb-4">
                This is amazing work, thank you for booking a session with us, we promise to take good care of your dreams and your joy. 
                <br />
                We will be in touch.
              </p>
              <a href="https://api.whatsapp.com/send?text=This is WhatsApp sharing example using link" data-action="share/whatsapp/share"  
                  target="_blank"> 
                  <button type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"></path>
                    </svg> share on whatsapp
                  </button>
                </a>
              </div>
          </div>
          <button v-if="!showStep1" type="button" class="btn btn-primary my-4 mr-4" @click="previousStep">
            Previous Step 
          </button>
          <button v-if="showNextButton" :disabled="form.selectedOptions.length < 1" type="button" class="btn btn-primary mx-4 my-4" @click="nextStep()">
            Next Step 
          </button>  
        </div>
      </div>

    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Maxim</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Maxim</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.23.1/bootstrap-vue.min.js" 
    integrity="sha512-SP/zE7YazvnUG95bWnA1AeC5+WtAOqumEHSgcKTNfVefAMsDcVCt6D3Q3goqR3vSf50zPG3OZtnMjBJd9GBgkw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script type="text/javascript">
    (function(){
       emailjs.init({
         publicKey: "92j-BVch9Jw5Di66l",
       });
    })();
 </script>

  <script type="module">
    import { createApp } from 'vue';

    const app = Vue.createApp({
     data() {
      return {
        form: {
          selectedOptions: [],
          propertyAddress: {},
          clientData: {
            firstName: "",
            lastName: "",
            email: "",
            address1: "",
            clientCity: "",
            address2: ""
          }
        },
        currentStep: "selectOptions",
        previousStep: "",
        bookingHeading: "Happy Booking",
        bookingIntro: "Here we have the options of designs we can work on together.",
        bookingOptions: [
          {
            title: "bed room",
            price: "R5 000",
            optionId: 0,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/bedroom.jpg",
            selected: false,
            count: 0
          },
          {
            title: "living room",
            price: "R3 000",
            optionId: 2,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/living-room.jpg",
            selected: false,
            count: 0
          },
          {
            title: "living/dining room",
            price: "R7 000",
            optionId: 3,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/living-or-bedroom.jpg",
            selected: false,
            count: 0
          },
          {
            title: "kitchen + dining room",
            price: "R7 000",
            optionId: 4,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/living-or-bedroom.jpg",
            selected: false,
            count: 0
          },
          {
            title: "living + dining + kitchen room",
            price: "R17 000",
            optionId: 5,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/kitchen.jpg",
            selected: false,
            count: 0
          },
          {
            title: "bathroom",
            price: "R7 000",
            optionId: 6,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/bathroom.jpg",
            selected: false,
            count: 0
          },
          {
            title: "hallway + bathroom or bed room",
            price: "R17 000",
            optionId: 7,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/hallway-room.jpg",
            selected: false,
            count: 0
          },
          {
            title: "home office",
            price: "R12 000",
            optionId: 8,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/home-office.jpg",
            selected: false,
            count: 0
          },
          {
            title: "kids room",
            price: "R7 000",
            optionId: 8,
            bodyText: "this is the info about this item.",
            image: "/assets/img/booking/kids-room.jpg",
            selected: false,
            count: 0
          },
        ],
        cityOptions: [
          "Durban",
          "Johannesburg",
          "Richards Bay",
          "Cape Town",
          "Pretoria"
        ],
        multiPurpose: [
          {
            title: "bedroom + dressing area",
            price: "R7 000",
            optionId: 0,
            bodyText: "this is the info about this item.",
            image: "/assets/img/house-small.jpg",
            selected: false,
            count: 0
          },
          {
            title: "bedroom + home office",
            price: "R13 000",
            optionId: 1,
            bodyText: "this is the info about this item.",
            image: "/assets/img/house-small.jpg",
            selected: false,
            count: 0
          },
          {
            title: "living + play room",
            price: "R13 000",
            optionId: 2,
            bodyText: "this is the info about this item.",
            image: "/assets/img/house-small.jpg",
            selected: false,
            count: 0
          },

        ]
      }
     },
     components: {
      },
     computed: {
      showStep1() {
        return this.currentStep == 'selectOptions';
      },
      showLastStep() {
        return this.currentStep == 'showResult';
      },
      showStep2() {
        // will have intermediery step with copy write
        return this.currentStep == 'selectLocation'; // not 2nd step
      },
      showStep3() {
        return this.currentStep == "personalInfo"
      },
      showNextButton() {
        return this.currentStep != "personalInfo"
      },
     },
     methods: {
      getStyle(option) {
        if(this.form.selectedOptions.includes(option.title) && option.count > 0){
          return 'btn-warning';
        }
        return 'btn-secondary';
      },
      selectOption(option) {
        let index = this.bookingOptions.indexOf(option)
        option.selected = true;
        option.count++;
        this.bookingOptions[index] = option;

        /* check if the option id is inside the array of selected */
        let extists = this.form.selectedOptions.indexOf(option.title) > -1 ? true: false;

        if(!extists) {
          this.form.selectedOptions.push(option.title);
        }
      },
      removeOption(option){
        --option.count;
        let index = this.form.selectedOptions.indexOf(option.title);
        if(index >= 0) {
          this.form.selectedOptions.splice(index,1)
        }
      },
      previousStep() {
        if(this.currentStep == "selectOptions"){
          this.currentStep = "selectLocation"
          return
        }
        if(this.currentStep == "selectLocation"){
          this.currentStep = "roomSpace"
          return
        }
        if(this.currentStep == "roomSpace"){
          this.currentStep = "personalInfo"
          return
        }
      },
      nextStep() {
        this.previousStep = this.currentStep;
        if(this.currentStep === "selectOptions"){
          this.bookingHeading = "Location Address ";
          this.bookingHeading = "Please enter the location for the place you want us to work on together";
          this.currentStep = "selectLocation"
          return;
        }
        if(this.currentStep === "selectLocation"){
          this.bookingHeading = "Personal Info ";
          this.bookingHeading = "Please enter your contact details and info";
          this.currentStep = "personalInfo"
          return;
        }
      },
      submitForm(e) {
        e.preventDefault();
        this.form.selectedOptions = this.form.selectedOptions.join(", ");
        let form = document.querySelector('#form');
        console.log("form: ", form)
        emailjs.init("92j-BVch9Jw5Di66l");
        emailjs.send('service_nbj476q', 'template_bgzc3ow', {userData: {
          name: this.form.clientData.firstName,
          email: this.form.clientData.email,
          city: this.form.clientData.clientCity,
          firstAddress: this.form.propertyAddress.address1,
          secondAddress: this.form.propertyAddress.address2,
          selectedOptions: this.form.selectedOptions
        }}).then(function() {
            this.currentStep = "showResult"
          }, function(error) {
            console.log('FAILED...', error);
          });
        }
      }
    }).mount('#app')
  
  </script>
</body>

</html>
